/* Message List styles */
.messageList {
  padding: 10px;
}
.messageList .no-messages {
  text-align: center;
  color: #999;
  margin-top: 40px;
}
.messageList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.messageList li {
  padding: 10px 3px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
}
.messageList li:hover {
  background: #f5f5f5;
}
.messageList li:active {
  transition: background 0.3s;
  background: #ebefff;
}
.messageList li .emailSubject {
  font-weight: 400;
}
.messageList li .emailPreview {
  opacity: 0.6;
  font-size: 0.8em;
}