body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'IBM Plex Sans';
  font-size: 18px;
  line-height: 1.3em;
}
input,
button {
  font-family: 'IBM Plex Sans';
  font-size: 18px;
}

/*
LoginPage styles
*/

.loginPage {
  margin-top: 100px;
}
.loginPage form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 0 auto;
}
.loginPage form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  font-weight: bold;
}
.loginPage form input {
  padding: 8px 6px;
  border: 1px solid #aaa;
  border-radius: 2px;
}
.loginPage form input:focus {
  outline: none;
  border: 1px solid #3257ff;
}
.loginPage form button {
  background: #3257ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px #3257ff;
  transition: box-shadow, background-color 0.12s;
  outline: none;
}
.loginPage form button:hover {
  background-color: #1431b9;
  cursor: pointer;
}
.loginPage form button[disabled] {
  opacity: 0.4;
}
.loginPage form button:focus {
  box-shadow: 0 1px 8px #3257ff;
}
.loginPage form button:active {
  transform: scale(0.98);
}
.loginPage .error {
  background: #ffebee;
  color: #c62828;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 1em;
}

/* App Layout */
.myMain {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'Header Header'
    'MessageList MessageList';
  grid-template-rows: 49px;
  grid-template-columns: 250px;
}
.header {
  grid-area: Header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.messageList {
  grid-area: MessageList;
}
.messageView {
  grid-area: MessageView;
}

/* Header styles */
.header {
  border-bottom: 1px solid #9eb2fb;
}
.header h2 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: #44b;
}

/* Message List styles */
.messageList {
  padding: 10px;
}
.messageList .no-messages {
  text-align: center;
  color: #999;
  margin-top: 40px;
}