body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'IBM Plex Sans';
  font-size: 18px;
  line-height: 1.3em;
}
input,
button {
  font-family: 'IBM Plex Sans';
  font-size: 18px;
}

main {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'Header Header'
    'MessageArea MessageArea';
  grid-template-rows: 49px;
  grid-template-columns: 250px;
}
.Header {
  grid-area: Header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.MessageList {
  grid-area: MessageArea;
}
.MessageViewer {
  grid-area: MessageArea;
}



/* Message View */
.MessageViewer {
  padding: 10px;
}
.MessageViewer h2 {
  font-size: 1.3em;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
}
.MessageViewer button {
  background: none;
  border: none;
  cursor: pointer;
  color: #1a1ae8;
  text-decoration: underline;
  float: right;
  font-size: 15px;
}